# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).

#!include:.gitignore

node_modules/
npm-debug.log
.git/
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.cache/
.parcel-cache/
dist/
build/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/